*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;

}
    /*
    example colors

    #8e0000
    a60202
    fde4bd
    0e7f27
    */
    body{
        font-family: 'lato', serif;
        background-image: linear-gradient(to bottom right, #fde4bd, #d8c4a1, #9f9076);
        /*this is how I got rid of the weird gradient in the end of the body section*/
        background-attachment: fixed;
    }

    h1 {
        color: #8e0000;
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
    }
    p{
        font-family: 'leto', serif;
    }

    #intro-logo{
        width: 76px;
        /*border-bottom: 3px solid #8e0000;*/
        padding-bottom: 5px;
    }

    .navbar{
        /*this is done to allow the logo to be on same row as navbar links*/
        display: flex;
    }

    .nav-container {
        width: 100vw;
        min-height: 9vh;
        /*background-color: #d8c4a1;*/
        /*border-bottom: 3px solid #8e0000;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-container a {
    text-decoration: none;
    color: #a60202;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: bold;
    }

    .nav-links{
        width: 100%;
        /*background-color: #9f9076;*/
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

    }
    .nav-links a{
        transition: all 0.3s ease;
    }

    .nav-links a:hover {
        transform: scale(1.05);
        color: #0e7f27;
        transition: all 0.3s ease;
    }
    #red-line-1{
        border-bottom: 3px solid #a60202;
        width: 100%;
    }
    .hero{
        min-height: 55vh;
        justify-content: center;

    }
    .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    }
    .title{
        font-size: 6rem;
    }
    .quote{
        font-size: 1.5rem;
    }
    .logo-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        /*background-color: #0e7f27;*/
    }

    .logo-background {
        border: 3px solid #a60202;
        background-color: #040000;
        justify-content: center;
        text-align: center;
        width: clamp(.5rem, 70vw, 29rem);
        height: clamp(.5rem, 70vw, 29rem);
        margin: 2rem auto;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 2rem;
        padding-top: 2.5rem;
        border-radius: 100%;
    }
    .logo-img {
        /*align-content: center;*/
        align-self: center;
        width: clamp(1rem, 40vw, 18rem);
        /*width: 64%;*/
    }

    .red-line{
        /*justify-content: center;*/
        margin: 0 auto;
        width: 50%;
        border-bottom: 2px solid #a60202;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 0;

    }
    .hero-container p {
        padding-bottom: 2.5rem;
    }

    .about-us-background {
        /*background-color: #0e7f27;*/
        border-radius: 10px;
        /*padding: .5rem ;*/
        margin:  0 auto;
        width: auto;
        /*height: 40vh;*/
        height: clamp(.5rem, 40vw, 29rem);
    }

    .about-us{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 1rem;
        /*padding-bottom: 100rem;*/

    }
    .about-us-container{
        max-width: 1500px;
        max-height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        /*background-color: #0e7f27;*/
        border: 3px solid #a60202;
        /*width: 80%;*/
        padding: 1rem;

        border-radius: 20px;
    }
    #about-h1{
        text-align: center;
        margin: 0 auto;
        /*text-align: center;*/

    }
    .about-us p{
        text-align: center;
        color: #000000;
        padding: 1.5rem;
        font-size: clamp(1rem, 1.75vw, 1.75rem);
        margin: 0 1rem;
    }
    #red-line-2{
        padding: 1.5rem;
        width: 100%;
    }
    .deals{

        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        width: 100%;
        min-height: 45vh;
        /*margin: 0 auto;*/
        padding-top: 1rem;
    }
    .deals h1{
        margin: 2rem;
    }
    .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 1rem;

    }
    .card{
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
        align-items: center;
        border: 3px solid #0e7f27;

        border-radius: 10px;
        padding: 1rem;
        margin: 1rem;
        width: 360px;
        height: 480px;
        transition: all 0.3s ease;
        transform: scale(1);
        /*width: clamp(.5rem, 30vw, 29rem);*/
        /*height: clamp(.5rem, vh, 29rem);*/
        /*min-height: 30vh;*/
    }
    .card h2{
        /*color: #000000;*/
        margin-bottom: 1rem;
    }
    .card-img{
        /*aspect-ratio: 1 / 1 ;*/
        /*object-fit: cover;*/
        /*object-position: center;*/
        border: 5px solid #ffffff;
        display: block;
        border-radius: 5px;
        width: 250px;
        height: 250px;
        /*width: 100%;*/
        /*height: 50px;*/
    }
    .item-name{
        font-weight: bold;
            padding: .5rem;
    }
    .caption{
        font-weight: bold;
        padding: .5rem;
    }
    .price{
        font-size: 1.25rem;
        color: #a60202;
        font-weight: bold;
    }
    .was-price{
        font-size: 1rem;
        font-weight: normal;
        color: black;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        width: 100%;
        min-height: 45vh;
        /*margin: 0 auto;*/
        padding-top: 1rem;
    }
    .testimonials h1{
        margin: 2rem;
    }
    .review{
        margin: 1rem;
        padding: 1rem;
        font-weight: bolder;
    }
    .card:hover{
        background-color: #0e7f27;
        transform: scale(1.05);
        transition: all 0.3s ease;
        box-shadow: 10px 10px 30px #7c6e5b;
    }
    .card:hover img{
        transform: scale(1.05);
        transition: all 0.4s ease;
        border: 5px solid #9f9f9f;
    }
    .social{
        display: flex;
        flex-direction: column;
    }

    .visit-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }  .visit-info h1{
           align-self: center;
           margin: 2rem;
       }
       .visit-info p{
           width: 900px;
           align-self: center;
           margin-bottom: 2rem;
       }

       .address-block{
           /*margin: rem;*/
           width: 900px;
           display: flex;
           flex-direction: row;
       }
       .phone-block{
           margin-top: 2rem;
           width: 900px;
           display: flex;
           flex-direction: row;
       }
       .phone-block a{
           color: #a60202;
           text-decoration: underline;
           text-decoration-color: #a60202;
       }
    .map{
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: center;
        /*align-items: center;*/

        margin-bottom: 3rem;
        width: 900px;
        text-align: center;
    }





    iframe {
        width: 100%;
        height: 350px;
        border: none;
        border-radius: 10px;
    }

    .socials-container{
        height: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        background: #8e0000;
    }
    .socials-container a{
        padding: 0 2rem;
        text-decoration: none;
        color: #fde4bd;
        font-size: clamp(1rem, 2.5vw, 2rem);
        font-weight: bold;
        transition: all 0.3s ease;
    }
    .socials-container a:hover {
        color: #0e7f27;
        transition: all 0.3s ease;
        transform: scale(1.25);

    }
    .footer-content{

        text-align: center;

    }





    @media screen and (max-width: 1000px){

        .about-us-container{
            flex-direction: column;
            max-height: fit-content;
            width: clamp(.5rem, 70vw, 300rem);
        }
        .about-us p{

        }
        .about-us-background{
            width: 65vw;
        }
        .title{
            font-size: 4rem;
        }
        .quote{
            font-size: 1rem;
        }

    }

    @media screen and (max-width: 800px) {
        #intro-logo {
            display: none;
        }
        .map{
            display: none;
        }


    }